[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Start Conky wrapper script
Comment=It should look really cool
Exec=nohup /home/chay/.local/bin/spacepanel &
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

